[submodule "server"]
	path = server
	url = https://github.com/JavierPardo/ServerSimpleSite.git
[submodule "client"]
	path = client
	url = https://github.com/JavierPardo/ClientSimpleSite.git
[submodule "modules/commonCore"]
	path = modules/commonCore
	url = https://github.com/JavierPardo/CommonCore.git